/* -------- Standard Stylizations -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: roboto;
}

body {background-color: #bdc3c7;}


/* -------- Start of the Sidebar -------- */
.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    left: -300px;
    background-color: #ecf0f1;
    z-index: 999;
    transition: linear 0.4s;
}

.sidebar ul {
    text-align: center;
    line-height: 80px;
}

.sidebar ul li {border-bottom: solid #95a5a6;}

.sidebar ul li a {
    color: black;
    display: block;
    text-transform: uppercase;
    transition: ease;
}

.sidebar ul li a:hover {transform: scale(1.1);}

.copy {
    margin-top: 150px;
    text-align: center;
}

input {
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 1000;
}

.menu:before {
    content: "\f0c9"; 
    font-family: FontAwesome;  
    position: fixed;
    right: 40px;
    top: 20px;
    z-index: 1000; 
    background: #ecf0f1;
    padding: 10px 15px;
    border-radius: 90px;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}

#check {visibility: hidden;}

#check:checked ~ .sidebar {left: 0;}

#check:checked ~ .menu:before {
    content: "\f00d  "; 
    font-family: FontAwesome;
}