/* -------- /Footer -------- */
.footer {
    width: 100%;
    background-color: #28161C;
}

.footer__wrapper {
    padding: 60px 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr); /* see notes below */
}

@media (max-width: 900px) {
    .footer__wrapper {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
}

.about__title,
.important__title,
.random__title,
.contact__title {margin-bottom: 25px;}

.about__paragraph,
.random__paragraph,
.important__paragraph,
.contact__paragraph {margin-bottom: 5px;}

.contact__main__address {font-weight: 700;}

.phone-paragraph,
.mail-paragraph {display: inline;}

.link:hover {color: red;}